<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form class="" action="/input_data" method="post">
  <input type="text" name="full_name" value="" placeholder="full name">
  <input type="text" name="no_ktp" value="" placeholder="no ktp">
  <input type="text" name="address" value="" placeholder="address">
  <div class="text-left">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

  </body>
</html>
